@page
@model StatusModel

<h1>Status</h1>
<p>@DateTime.Now.ToString("f")!</p>

<table>
    <tr>
        <th>Service</th>
        <th>Status</th>
    </tr>
    @* <tr>
        <td>Matrix</td>
        <td>
            @if (Model.MatrixRunning)
            {
                <span>Running</span>
            }
            else
            {
                <span>Not Running</span>
            }
        </td>
    </tr> *@
    <tr>
        <td>Discord</td>
        <td>
            @if (Model.DiscordRunning)
            {
                <span>Läuft</span>
            }
            else
            {
                <span>Läuft nicht!</span>
            }
        </td>
    </tr>
</table>

<h1>Discord Dialog</h1>

@if (!ModelState.IsValid)
{
    <ul>
        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
        {
            <li><del>@error.ErrorMessage</del></li>
        }
    </ul>
}
else if (!string.IsNullOrEmpty(Model.Message))
{
    <ins>Message: @Model.Message</ins>
}

<form method="post">
    @if (Model.SelectedChannelUsers == null || Model.SelectedChannelId == null)
    {
    <fieldset>
        <label for="channel">Kanal:</label>
        <select id="channel" name="channel" required>
            @foreach (var channel in Model.TextChannels)
            {
                <option value="@channel.Id">@channel.Name</option>
            }
        </select>
    </fieldset>
    } else 
    {
    <fieldset>
        <label for="channel">Kanal:</label>
        <select id="channel" name="channel" required readonly>
            <option value="@Model.SelectedChannelId" selected>@Model.TextChannels.Where(c => c.Id == Model.SelectedChannelId).First().Name</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="channel">Zielobjekt:</label>
        <select id="userId" name="userId" required>
            @foreach (var user in Model.SelectedChannelUsers)
            {
                <option value="@user.Id">@user.Name - (@user.OpenAIName)</option>
            }
        </select>
    </fieldset>
    <fieldset>
        <label for="messages">Anzahl an Nachrichten:</label>
        <input type="number" id="messages" name="messages" />
    </fieldset>
    }
    <input type="hidden" id="startDialogue" name="startDialogue" value="true" />
    <button type="submit">Submit</button>
</form>
