@page
@model StatusModel

<article>
<h1>Status</h1>
<p>@DateTime.Now.ToString("f")!</p>

<table>
    <thead>
    <tr>
        <th scope="col">Service</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Matrix</td>
        <td>
            @if (Model.MatrixRunning)
            {
                <ins>L채uft</ins>
            }
            else
            {
                <del>L채uft nicht!</del>
            }
        </td>
    </tr>
    <tr>
        <td>Discord</td>
        <td>
            @if (Model.DiscordRunning)
            {
                <ins>L채uft</ins>
            }
            else
            {
                <del>L채uft nicht!</del>
            }
        </td>
    </tr>
    </tbody>
</table>
</article>

<article>
<h1>Discord Dialog</h1>

@if (!ModelState.IsValid)
{
    <ul>
        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
        {
            <li><del>@error.ErrorMessage</del></li>
        }
    </ul>
}
else if (!string.IsNullOrEmpty(Model.Message))
{
    <ins>Message: @Model.Message</ins>
}

<form method="post">
    <fieldset>
    @if (Model.SelectedChannelUsers == null || Model.SelectedChannelId == null)
    {
        <label for="channel">Kanal:</label>
        <select id="channel" name="channel" required>
            @foreach (var channel in Model.TextChannels)
            {
                <option value="@channel.Id">@channel.Name</option>
            }
        </select>
    } else 
    {
        <label for="channel">Kanal:</label>
        <select id="channel" name="channel" required readonly>
            <option value="@Model.SelectedChannelId" selected>@Model.TextChannels.Where(c => c.Id == Model.SelectedChannelId).First().Name</option>
        </select>
        <label for="channel">Zielobjekt:</label>
        <select id="userId" name="userId" required>
            @foreach (var user in Model.SelectedChannelUsers)
            {
                <option value="@user.Id">@user.Name - (@user.CanonicalName)</option>
            }
        </select>
        <label for="messages">Anzahl an Nachrichten:</label>
        <input type="number" id="messages" name="messages" value="3" />
    }
    <input type="hidden" id="startDialogue" name="startDialogue" value="true" />
    <button type="submit">Weiter</button>
    </fieldset>
</form>
</article>